@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

html,
body {
  font-family: "Arsenal SC", sans-serif;
  font-optical-sizing: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1e293b;
  overflow-x: hidden;
  display: flex;
}

main {
  width: 70%;
  height: 100%;
  right: 0;
  flex: 1;
  padding: 1rem;
  background-color: #1e293b;
  overflow-y: auto;
}

img {
  width: auto;
  height: auto;
}
