@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

html,
body {
  font-family: "Arsenal SC", sans-serif;
  font-optical-sizing: auto;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1e293b;
  overflow-x: hidden;
  display: flex;
}

main {
  width: 70%;
  height: 100%;
  right: 0;
  flex: 1;
  padding: 1rem;
  background-color: #1e293b;
  overflow-y: auto;
}

img {
  width: auto;
  height: auto;
}

.button {
  background-image: linear-gradient(to right, #1e293b, #334155, #1e293b);
  border-radius: 5rem;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  transform: skewX(-45deg);
  transition: left 0.6s ease;
}

.button:hover::before {
  left: 100%;
}

.image-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1001;
}

.modal-close {
  background: red;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.ql-toolbar {
  background-color: #1e293b;
}

.box {
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(10, 10, 10, 0.9);
  border-radius: 60px;
  box-shadow: 10px 12px 10px 6px rgba(10, 10, 50, 0.9);
  text-align: center;
}

.box input[type="text"],
.box input[type="password"] {
  border: 2px;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 4px double #4433dd;
  padding: 12px 14px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 25px;
  transition: 0.2s;
}

.box input[type="text"]:focus,
.box input[type="password"]:focus {
  width: 280px;
  border-color: #1bbb55;
}

.box button[type="submit"] {
  border: 4px double;
  background: none;
  display: block;
  margin: 15px auto;
  text-align: center;
  border: 4px double #1bbb55;
  padding: 12px 20px;
  outline: none;
  color: white;
  border-radius: 25px;
  transition: 0.2s;
  cursor: pointer;
}

.box button[type="submit"]:hover {
  background: #1168;
}
